.interior-solution {
    text-align: center;
}

.subtitleinterior {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
    text-align: justify;
    padding: 2rem;
}

.slideshow-container-interior {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.slideshow-image-interior {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: smoothZoomInOut 8s ease-in-out infinite;
}

@keyframes smoothZoomInOut {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    15% {
        opacity: 1;
        transform: scale(1.05); /* Slight zoom-in */
    }
    50% {
        transform: scale(1.1); /* Maximum zoom-in */
    }
    85% {
        transform: scale(1.05); /* Slow zoom-out */
    }
    100% {
        opacity: 0;
        transform: scale(1); /* Reset scale */
    }
}



@media (max-width: 600px) {
    .slideshow-container-interior {
        height: 200px; /* Adjust height for smaller screens */
    }

    .subtitle {
        font-size: 1rem; /* Smaller font size for better readability */
        
    }
}

/* Media Query for Medium Screens (max width 768px) */
@media (max-width: 768px) {
    .slideshow-container-interior {
        height: 300px; /* Slightly smaller height for medium screens */
    }
}
