.policy-container {
    text-align: left;
    margin: 20px;
    padding: 20px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

.policy-container h1,
.policy-container h2,
.policy-container h3 {
    text-align: left;
    margin-bottom: 10px;
}

.policy-container ul,
.policy-container ol {
    margin-left: 20px;
}

.policy-container a {
    color: #007bff;
    text-decoration: none;
}

.policy-container a:hover {
    text-decoration: underline;
}

/* .policy-container strong {
    color: #8db61c;
  } */

.policy-container hr {
    border: none;
    border-top: 1px solid rgb(53, 53, 53);
    margin: 20px 0;
}

@media screen and (max-width: 768px) {

    .policy-container {
        margin: 0;
        padding: 20px;
    }

    .policy-container h1 {
        font-size: 1.5rem;
        margin-top: 0;
    }
}
