.product-details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.product-title {
  font-size: 28px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.product-image {
  width: 90%;
  max-width: 800px;
  height: auto;
  margin-top: 10px;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-price {
  font-size: 20px;
  color: #b2adad;
  font-weight: bold;
  margin: 10px;
}

.product-description {
  font-size: 16px;
  color: #9d9c9c;
  text-align: justify;
  line-height: 1.5;
  width: 60%;
}

.product-image-slider {
  width: 100%;
  max-width: 800px;
}

.locationdetails {
  font-size: 1.3rem;
  margin-bottom: 8px;
}

.locationdetails i {
  margin-right: 5px;
}

.detailsproduct {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

.detailsproduct span {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.detailsproduct span i {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .product-details {
    padding: 10px;
  }

  .product-title {
    font-size: 24px;
  }

  .product-price {
    font-size: 18px;
  }

  .product-image {
    margin-top: 10px;
    max-width: 700px;
  }

  .product-image-slider {
    width: 90%;
    margin: auto;
  }

  .product-description {
    width: 80%;
  }

  .locationdetails {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  
  .locationdetails i {
    margin-right: 5px;
  }
  
  .detailsproduct {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
  
  .detailsproduct span {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .detailsproduct span i {
    margin-right: 5px;
  }
  
}